*{
    padding: 0px;
    margin: 0px;
}

.fondoimagen2{
    background: brown; 
}

.baner{
    width: 100%;
    height: 100%;
}
.banner{
    display: flex; text-align: center;
    width: 15%;
    height: 20%;
    justify-content: center;
    position: relative; 
    text-align: center;
    left: 550px;
}

.contenedor1{
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: black;
    position: relative;
}

.none{
    color: #fff
}

.idiomas{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: #f0A83E;
    display: flex;
    justify-content: space-around;
    color: #ffff;
  
}


.menu{
    background-color:#f0A83E;
    color: #ffff;
    display: flex;
    justify-content: space-around;
        
}

a{
    text-decoration: none;
    color: white;
 
}
.contenedor2{
    position: relative;

}

.texto{
    background-color: white;
    color: #3C2313;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
    position: absolute;
    top: 43%;
    left: 65%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.texto1 {
    color: #3C2313;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
    position: absolute;
    top: 60%;
    left: 75%;
    text-align: center;
    transform: translate(-50%, -50%); 
}

.texto2{
    color: white;
    background-color: #f0A83E;
    font-family:Roboto,'Open Sans','Helvetica Neue',sans-serif;
    font-size: 30px;
    position: absolute;
    top: 65%;
    left: 68%;
    padding: 10px;
}
h2{
    color: #3C2313;
    font-family:Roboto,'Open Sans','Helvetica Neue',sans-serif;
    font-size: 30px;
    font-style: normal;
    position: relative;
    text-align: center;
}

.p1 {
    display: absolute;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
    color: #3C2313;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 20px;
    text-align: center;
}

p{
    color: #666666;
    display: absolute;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
    text-align: center;
}

.fondoimagen{
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    position: relative;
    text-align: center;
 
}
.form1{
    border-radius: 30px;
    color: white;
    position: relative;
    background-color: #3C2313;
    margin: 5px;
    padding: 5px;
     
}
 
.form2{
    border-radius: 30px;
    color: white;
    position: relative;
    background-color: #3C2313;
    margin: 5px;
    padding: 5px;
     
}


.boton{
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
}
.boton1{
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
  
}
.formboton{
    padding-bottom: 10px;
}
.form{
    padding-bottom: 50px;
    padding-top: 25px;
}

.phone{
    
    width: 550px;
    height: 250px;
}



.pie{
    padding: 10px;   
}


i{
    font-size: 40px;
    padding: 10px;
    color: blanchedalmond;
}


.lu2{
    color: blanchedalmond;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    
}

li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 10px;
    color: rgb(56, 26, 26);
}
.contenedor3{
    position: relative;
    padding-top: 0px;
    margin: 0px;
    left: 40px;
}

.logo2{
   position: absolute;
   top: 100px;
   left: 950px;
   width: 300px;
}


.contenedor5{
    background-color: #f0A83E;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 12px;
    color: #fff;
   
   
}
.mov{
   position: absolute;
   left: -60px;
   top: -12px;
  }

.seccion1{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    position: absolute; 
}


.sec{
    position: absolute;
    left: 60px;
    bottom: 50px;
    
}



.p2{
    background-color: #000;
    color: #fff;
    padding-top: 0px;
    margin: 0px;
}


.form3{
    display: flex;
    left:350px;
    bottom: -32px;
    padding: 30px 100px 20px 10px;
    background-color: white;
    border: none;
    border-radius: 30px;   
    position: relative;
    width: 170px;
   
}

.info{
    position: relative;
  
}
.bof{
position: relative;
left: 650px;
bottom: 28px;
border: none;
border-radius: 20px;
padding: 20px 20px;
background-color: rgb(56, 26, 26);
color: white;
}
 
input:focus{
   border: 4px solid red;
} 

.data:hover{
    border: 4px solid blue;
}


.contenedor_fot1_1{
    display: flex;
}


/* __________________ Comandos@media Computador ________________ */


/* @media screen and (max-width: 1300px) {
    .menu{
        background-color: red;
    }
    .texto{
    top:42% ;
    left: 55%; 
    width:280px;
    height:20px;
    font-size: 20px;
    }
    
  } */
/* __________________ Comandos@media Celular ________________ */

  @media screen and (max-width: 375px) {
    .menu{
        background-color:green;
    }
    .texto{
    top:42% ;
    left: 55%; 
    width:280px;
    height:20px;
    font-size: 20px;
    }
    .menu{
        display: none;
    }
    h1{
        display: none;
    }
    .idiomas{
        display: none;
    }
    .texto{
        top: 30px;
        left:50px; 
        width:120px;
        height:5px;
        font-size:9px;
        }
        .texto1{
            top: 60px;
            left:160px; 
            width:150px;
            height:10px;
            font-size:10px;
            }
            .texto2{
                top: 70px;
                left:100px; 
                width:90px;
                height:5px;
                font-size:10px;
                }
                .form3{
                    top: 50px;
                    left:-60px; 
                    width:30px;
                    height:5px;
                    background-color:white;
                }
                .banner{
                    display: flex;
                    width: 15px;
                    height: 15px;
                    left: 80px;
                }
                .bof{
                    position: relative;
                    left: 100px;
                    bottom: 8px;
                    border: none;
                    border-radius: 20px;
                    
                    background-color: rgb(56, 26, 26);
                    color: white;
                    }        
                    .mov{
                        position: absolute;
                        left: -30px;
                        top: -62px;
                       }

                       .tit{
                           font-size: 15px;
                           top: -35px;
                           left: 30px;
                       }

  }
/* __________________ Comandos@media Tablets ________________ */


  
  @media screen and (max-width: 768px) {
    .menu{
        background-color:red;
    }
    .texto{
    top:42% ;
    left: 75%; 
    width:280px;
    height:20px;
    font-size: 20px;
    }
    .menu{
        display: none;
    }
    h1{
        display: none;
    }
    .idiomas{
        display: none;
    }
    .texto{
        top: 30px;
        left:150px; 
        width:120px;
        height:5px;
        font-size:9px;
        }
        .texto1{
            top: 60px;
            left:160px; 
            width:150px;
            height:10px;
            font-size:10px;
            }
            .texto2{
                top: 70px;
                left:100px; 
                width:90px;
                height:5px;
                font-size:10px;
                }
                /* .form3{
                    top: 50px;
                    left:20px; 
                    width:30px;
                    height:5px;
                    background-color:green;
                } */


                .banner{
                    display: flex;
                    width: 15%;
                    height: 15%;
                   
                    position: relative;
                    text-align: center;
                    left: 340px;
                }
                

  }